:root{
    --cor-0: #000000;
    --cor-1: #A020F0;
    --cor-2: #ffff;
    --cor-3: #1C1C1C;
    --cor-4: #f8c0c5
}

.cor-0 {
    color: var(--cor-0);
}
.cor-1 {
    color: var(--cor-1);
}
.cor-2{
    color: var(--cor-2);
}
.cor-3{
    color: var(--cor-3);
}
.cor-4{
    color: var(--cor-4);
}